**/node_modules
/.pnp
.pnp.js
*.mp4
*/assets
*/dist/
*/build/
**/app/renderer/pages/main/
**/release
TinyPNGCacheDir
.env
.env.production
/publish/utils/githubToken.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*